* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #F1FAEE;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* width: 80vw;
  margin-left: 10vw; */
  justify-content: center;
}

.centerTotal {
  text-align: center;
  margin: auto;
  width: 100%;
}

.centerMedio {
  text-align: center;
  margin: auto;
  width: 70%;
}

.index__main__section {
  display: grid;
  grid-template-areas:
    "logo"
    "texto1"
    "texto2"
    "texto3";
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 80vh;
  margin: 0vw 2vw 0vw 2vw;
}

@media only screen and (min-width: 768px) {
  .index__main__section {
    display: grid;
    grid-template-areas:
      "logo texto1"
      "logo texto2"
      "logo texto3";
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 80vh;
    margin: 0vw 5vw 0vw 5vw;
  }
}

.index__main__section__logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-wrap: nowrap;
}

.imagenRedonda {
  border-radius: 100%;
  width: 100%;
}

.index__main__section__texto1 {
  grid-area: texto1;
  justify-self: center;
  padding: 15px 15px 25px 15px;
  color: #1D3557;
  font-size: 20px;
  text-align: justify;
}

.index__main__section__texto2 {
  grid-area: texto2;
  justify-self: center;
  padding: 15px 15px 25px 15px;
  color: #1D3557;
  font-size: 20px;
  text-align: justify;
}

.index__main__section__texto3 {
  grid-area: texto3;
  justify-self: center;
  padding: 15px 15px 25px 15px;
  color: #1D3557;
  font-size: 20px;
  text-align: justify;
}

.index__main__section__texto__h3 {
  font-size: 40px;
  color: #1D3557;
  text-decoration: underline;
  text-align: center;
}

.index__main__section__texto__p {
  font-size: 20px;
  color: #1D3557;
  text-align: justify;
}

fieldset {
  text-align: center;
  font-size: 15px;
  margin: auto;
  width: 90%;
}

nav {
  background-color: #1D3557;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  width: 100%;
  text-align: center;
  height: 6vh;
}

.nav__a {
  color: #F1FAEE;
  background-color: #1D3557;
  padding: 0.6% 1% 0% 1%;
  font-size: 100%;
}

.nav__a:hover {
  border: #F1FAEE;
  border: solid;
}

.active {
  background-color: #E63946;
}

.imagenes__div__tamFotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenes__div__tamFotos__a {
  border-radius: 50px;
  padding: 20px;
  width: 200px;
}

.contacto__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.contacto__section__div {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding-left: 2%;
}

.contacto__section__div2 {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.contacto__section__div2__ul {
  display: flex;
  flex-flow: row wrap;
  width: 45%;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacto__section__div2__a {
  display: flex;
  flex-flow: row nowrap;
  width: 45%;
  padding-left: 2%;
}

.contacto__mapas {
  border-radius: 30px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.contacto__fieldset__div {
  margin-top: 15px;
  justify-content: center;
}

.contacto__fieldset__div__selectorPais {
  font-size: 15px;
}

.botonesFormulario {
  background-color: #1D3557;
  color: #F1FAEE;
  font-size: 15px;
  margin: 15px 5px 15px 5px;
  padding: 5px;
}

.contacto__ingresoDatos{
  width: 75%;
  height:25px;
}

.contacto__ingresoComentario{
  width: 75%;
  height:200px;
}

h1 {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  position: relative;
}

.footer__div {
  background-color: #1D3557;
  padding: 10px;
  color: #F1FAEE;
  font-size: 20px;
  line-height: 10px;
}

.sabores__section {
  padding: 10px;
  margin-bottom: 50px;
  color: #1D3557;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sabores__section__div {
  padding-bottom: 10px;
  flex-direction: column;
  display: flex;
}

.sabores__section__div__h3 {
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  text-decoration: underline;
}

ul li {
  padding-left: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  list-style-type: circle;
}

.sabores__section__div__h3__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-top: 0px;
}

.sabores__section__div__h3__ul__p {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
}

.historia__main {
  display: grid;
  grid-template-areas:
    "titulo titulo titulo titulo"
    "texto fotoV fotoH1 fotoH2"
    "texto fotoV fotoH3 fotoH3";
  grid-template-rows: 1fr 2fr 2fr; 
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

.historia__main__titulo {
  grid-area: titulo;
  justify-self: center;
  align-self: center;
}
.historia__main__texto {
  grid-area: texto;
  justify-self: center;
  padding: 15px 15px 25px 15px;
  color: #1D3557;
  font-size: 20px;
  text-align: justify;
}
.historia__main__fotoV {
  grid-area: fotoV;
  justify-self: center;
  align-self: center;
}
.historia__main__fotoH1 {
  grid-area: fotoH1;
  justify-self: center;
  align-self: center;
}
.historia__main__fotoH2 {
  grid-area: fotoH2;
  justify-self: center;
  align-self: center;
}
.historia__main__fotoH3 {
  grid-area: fotoH3;
  justify-self: center;
  align-self: center;
}

.historia__main__a__foto {
  border-radius: 30px;
  padding: 0px;
  width: 250px;
}